.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.item {
  padding: 1%;
}

ul{
    list-style: none;
    padding: 0px;
}

li {
    padding: 10px 10px 10px 10px;
}

li:nth-child(odd){
    border: solid #0abab5;
    border-radius: 5px;
    background: #0abab5;
    color: white;
}

.id{
    display: inline;
}

.title{
    display: inline;
}